In [78]:
import pandas as pd

In [79]:
filename = "files/speed_check.csv"
speed_check = pd.read_csv(filename, sep=";", infer_datetime_format=True, index_col="Date", parse_dates=True)
# speed_check.index
speed_check
# speed_check["Car", "Speed"] # resulta em erro ... para exibir múltiplas colunas devemos acessar por meio de uma lista:
speed_check[["Car", "Speed"]]

                Car  Speed
Date
2021-03-15  Porsche    315
2021-03-30      BMW    250
2021-04-02  Ferrari    295
2021-04-10      BMW    180
2021-04-15  Porsche    210
2021-04-20  Ferrari    230
2021-04-23      BMW    175
2021-04-30      BMW    205

In [80]:
# speed_check
speed_check[speed_check["Car"] == "Porsche"]

                Car  Speed
Date
2021-03-15  Porsche    315
2021-04-15  Porsche    210

In [81]:
speed_check["Car"] == "Porsche"

Date
2021-03-15     True
2021-03-30    False
2021-04-02    False
2021-04-10    False
2021-04-15     True
2021-04-20    False
2021-04-23    False
2021-04-30    False
Name: Car, dtype: bool

In [82]:
speed_check.groupby("Car").sum()

         Speed
Car
BMW        810
Ferrari    525
Porsche    525

In [83]:
speed_check.groupby("Car").mean()

         Speed
Car
BMW      202.5
Ferrari  262.5
Porsche  262.5

In [84]:
speed_check

                Car  Speed
Date
2021-03-15  Porsche    315
2021-03-30      BMW    250
2021-04-02  Ferrari    295
2021-04-10      BMW    180
2021-04-15  Porsche    210
2021-04-20  Ferrari    230
2021-04-23      BMW    175
2021-04-30      BMW    205

In [85]:
import locale
locale.setlocale(locale.LC_ALL, 'French')

mensal = speed_check.groupby(pd.Grouper(freq='M')).mean(numeric_only=True)
mensal.index = mensal.index.month_name()
mensal

            Speed
Date
March  282.500000
April  215.833333

In [86]:
# # speed_check.to_excel("SpeedCheck.xlsx")
# writer = pd.ExcelWriter("SpeedCheck.xlsx", engine="xlsxwriter")
# speed_check.groupby("Car").mean().to_excel(writer, sheet_name="Cars")
# mensal.to_excel(writer, sheet_name="Mensal")

# workbook = writer.book
# worksheet = writer.sheets['Cars']
# chart = workbook.add_chart({'type': 'column'})
# # Configure the series of the chart from the dataframe data.
# chart.add_series({
#     'name': 'Cars',
#     'categories': '=Cars!$A$2:$A$4',
#     'values': '=Cars!$B$2:$B$4'}
#     )
# # Insert the chart into the worksheet.
# worksheet.insert_chart('D2', chart)

# writer.close()

In [87]:
# Ler os dados de um csv para posteriormente criar um relatório em excel com gráficos
import pandas as pd
filename = 'files/SalesData.csv'
df = pd.read_csv(filename, sep=';', parse_dates=True, index_col='Date')

# Agrupar os dados por vendedor e por mês
df_vendas_por_vendedor = df.groupby("Sales rep").sum(numeric_only=True)
df_monthly = df.groupby(pd.Grouper(freq="M")).sum(numeric_only=True)
df_monthly.index = df_monthly.index.month_name(locale="Portuguese")

#Exportar os dados para Excel
writer = pd.ExcelWriter("Relatório.xlsx"); workbook = writer.book
df_vendas_por_vendedor.to_excel(writer, "vendedor"); df_monthly.to_excel(writer, "por mês")
worksheet_vendedor = writer.sheets['vendedor']; worksheet_mensal = writer.sheets["por mês"]

# criar um gráfico de barras para cada folha
chart_vendedor = workbook.add_chart({'type': 'column'}); chart_mensal = workbook.add_chart({'type': 'column'})
chart_vendedor.add_series({'values': '=vendedor!$B$2:$B$10', 'categories': '=vendedor!$A$2:$A$10'})
chart_mensal.add_series({'values': "='por mês'!$B$2:$B$13", 'categories': "='por mês'!$A$2:$A$13"})
chart_vendedor.set_title({'name': "vendas por vendedor"}); chart_mensal.set_title({'name': "vendas por mês"})
chart_vendedor.set_legend({'none': True}); chart_mensal.set_legend({'none': True})
worksheet_vendedor.insert_chart('F2', chart_vendedor); worksheet_mensal.insert_chart('F2', chart_mensal)
writer.close()