In [2]:
import pandas as pd

In [3]:
filename = "files/speed_check.csv"
speed_check = pd.read_csv(filename, sep=";", infer_datetime_format=True, index_col="Date", parse_dates=True)
# speed_check.index
speed_check
# speed_check["Car", "Speed"] # resulta em erro ... para exibir m√∫ltiplas colunas devemos acessar por meio de uma lista:
speed_check[["Car", "Speed"]]

                Car  Speed
Date
2021-03-15  Porsche    315
2021-03-30      BMW    250
2021-04-02  Ferrari    295
2021-04-10      BMW    180
2021-04-15  Porsche    210
2021-04-20  Ferrari    230
2021-04-23      BMW    175
2021-04-30      BMW    205

In [4]:
# speed_check
speed_check[speed_check["Car"] == "Porsche"]

                Car  Speed
Date
2021-03-15  Porsche    315
2021-04-15  Porsche    210

In [5]:
speed_check["Car"] == "Porsche"

Date
2021-03-15     True
2021-03-30    False
2021-04-02    False
2021-04-10    False
2021-04-15     True
2021-04-20    False
2021-04-23    False
2021-04-30    False
Name: Car, dtype: bool

In [6]:
speed_check.groupby("Car").sum()

         Speed
Car
BMW        810
Ferrari    525
Porsche    525

In [7]:
speed_check.groupby("Car").mean()

         Speed
Car
BMW      202.5
Ferrari  262.5
Porsche  262.5

In [19]:
#,m√©dia dos valores num√©ricos de cada m√™s
mensal = speed_check.groupby(pd.Grouper(freq='M')).mean()
# aqui, usaremos o local pt-br, para exibir os meses em portugu√™s. Ou seja, os √≠ndices Datetime ser√£o ['Mar√ßo', 'Abril'] ...
# ... e n√£o mais ['March', 'April']
import locale
# locale.getdefaultlocale()
locale.setlocale(locale.getdefaultlocale()[0])
# mensal = mensal.index.month_name()
# mensal

TypeError: 'str' object cannot be interpreted as an integer