In [13]:
import pandas as pd

In [14]:
filename = "files/speed_check.csv"
speed_check = pd.read_csv(filename, sep=";", infer_datetime_format=True, index_col="Date", parse_dates=True)
# speed_check.index
speed_check
# speed_check["Car", "Speed"] # resulta em erro ... para exibir m√∫ltiplas colunas devemos acessar por meio de uma lista:
speed_check[["Car", "Speed"]]

                Car  Speed
Date
2021-03-15  Porsche    315
2021-03-30      BMW    250
2021-04-02  Ferrari    295
2021-04-10      BMW    180
2021-04-15  Porsche    210
2021-04-20  Ferrari    230
2021-04-23      BMW    175
2021-04-30      BMW    205

In [15]:
# speed_check
speed_check[speed_check["Car"] == "Porsche"]

                Car  Speed
Date
2021-03-15  Porsche    315
2021-04-15  Porsche    210

In [16]:
speed_check["Car"] == "Porsche"

Date
2021-03-15     True
2021-03-30    False
2021-04-02    False
2021-04-10    False
2021-04-15     True
2021-04-20    False
2021-04-23    False
2021-04-30    False
Name: Car, dtype: bool

In [17]:
speed_check.groupby("Car").sum()

         Speed
Car
BMW        810
Ferrari    525
Porsche    525

In [18]:
speed_check.groupby("Car").mean()

         Speed
Car
BMW      202.5
Ferrari  262.5
Porsche  262.5

In [19]:
speed_check

                Car  Speed
Date
2021-03-15  Porsche    315
2021-03-30      BMW    250
2021-04-02  Ferrari    295
2021-04-10      BMW    180
2021-04-15  Porsche    210
2021-04-20  Ferrari    230
2021-04-23      BMW    175
2021-04-30      BMW    205

In [20]:
import locale
locale.setlocale(locale.LC_ALL, 'French')

mensal = speed_check.groupby(pd.Grouper(freq='M')).mean()
mensal.index = mensal.index.month_name()
# mensal

In [21]:
# speed_check.to_excel("SpeedCheck.xlsx")
writer = pd.ExcelWriter("SpeedCheck.xlsx", engine="xlsxwriter")
speed_check.groupby("Car").mean().to_excel(writer, sheet_name="Cars")
mensal.to_excel(writer, sheet_name="Mensal")

workbook = writer.book
worksheet = writer.sheets['Cars']
chart = workbook.add_chart({'type': 'column'})
# Configure the series of the chart from the dataframe data.
chart.add_series({
    'name': 'Cars',
    'categories': '=Cars!$A$2:$A$4',
    'values': '=Cars!$B$2:$B$4'}
    )
# Insert the chart into the worksheet.
worksheet.insert_chart('D2', chart)


writer.close()